/src/vendor/*

/api/src/vendor/*
/api/src/composer.lock
/api/src/composer.json

/src/conf/gift.db.conf.ini
/api/src/conf/gift.db.conf.ini

/.idea

/src/composer.lock
/src/composer.json

/.vscode

*.yml