{% extends 'base.html.twig' %}

{% block title %}
	Categ - Detail
{% endblock %}

{% block body %}
	<figure>
		<blockquote class="blockquote mx-4 mt-4">
			<h1>La catégorie
				{{ categ.libelle }}</h1>
			<p class="mb-0">{{ categ.description }}</p>

		</blockquote>
	</figure>

	<hr>
	<div class="container mt-4">
		<h3>Les prestations de la catégorie :</h3>
	</div>
	{% include 'prestations.html.twig' %}


	{% endblock %}
