{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div class="row py-lg-5 text-center">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-light">Bienvenue sur le site d'achat de coffrets cadeau</h1>
		</div>
	</div>
{% endblock %}
