{% extends 'base.html.twig' %}

{% block title %}
	Presta - Liste
{% endblock %}

{% block body %}

	<figure>
		<blockquote class="blockquote mx-4 mt-4">
			<h1>Liste des prestations :
			</h1>
		</blockquote>
	</figure>

	<hr>

	{% include 'prestations.html.twig' %}

{% endblock %}
