{% extends 'base.html.twig' %}

{% block title %}
	Box - Liste
{% endblock %}

{% block body %}

	{# <a href="/Architecture_Logicielle/gift/gift/gift.appli/public/categories" class="btn btn-primary btn-lg mx-4 mt-4">Retour</a> #}

	<figure>
		<blockquote class="blockquote mx-4 mt-4">
			<h1>Liste des Box :
			</h1>
		</blockquote>

		<a href="{{ url_for('createBoxGet') }}" class="btn btn-primary btn-lg mx-4 mt-2">Créer une nouvelle Box</a>
	</figure>

	<hr>

	<div class="container mt-4">
		<ul class="list-unstyled d-flex flex-wrap justify-content-around">
			{% for b in box %}
				<div class="card" style="width: 20rem; height: 20rem;" onclick="window.location.href='{{ url_for('detailBox', {'id': b.id}) }}'" onmouseover="this.style.cursor='pointer'; this.style.backgroundColor='#f8f9fa';" onmouseout="this.style.backgroundColor='white';">
					<div class="card-header">
						<h5 class="card-title">{{ b.libelle }}</h5>
					</div>
					<div class="card-body">
						<p class="card-text">Description : {{ b.description }}</p>
					</div>
				</div>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
