{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
        <h1>Connexion</h1>
        <form url="login" method="post">
            <div class="form-group">
                <label for="user_id">Email:</label>
                <input type="email" id="user_id" name="user_id" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit" name="connectaccount">Se connecter</button>
            </div>
        </form>
    </div>
{% endblock %}
